*{
    font-family: 'Poppins', sans-serif;
}
.logo{
    background-color: #000c60;
    width: 283px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    padding: 20px 15px;
}
.bg{
    background-image: url("background.jpg");
    background-position: fixed;
}
.heading p{
    font-size: 24px;
    color: #000c60;
    margin-top: 50px;
    font-weight: bolder;

}
.description{
    font-weight: lighter;
    color: #000000;
    font-size: 16px;
}

.lable{
    width: 100%;
    border-radius: 10px;
    color: #000c60;
}
.btn{
    background-color: #000c60;
    margin-top: 55px;
}
.footer a{
    color: #000c60;  
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
      
}
.footer2{
    color: #000c60;
    font-size: 14px;
    padding: 1px;
}
.nowrap{
    margin-right: 20px;
}
.nowrap1{
    float: right;
}
.select2-container--default .select2-selection--single {
    background-color: #f2f2f2;
    border: 1px solid #000c60;
    border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #cec8c8;
    line-height: 28px;
    font-size: 14px;

}
input, button, select, optgroup, textarea {
    background-color: #f2f2f2;
    border: 1px solid #000c60;
    border-radius: 4px;
}
.select2-container {
    margin-top: 10px;
}
.overlay{
    background-color: #ffffff40;
    box-shadow:  0px -1px 10px #888;
}
input{
    margin-top: 10px;
}