$fa-font-path: '/rlcos/fonts/';
$media-path: '/rlcos/media/';

@font-face {
    font-family: 'poppinsregular';
    src: url('#{$fa-font-path}poppins-regular-webfont.woff2') format('woff2'),
    url('#{$fa-font-path}poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('#{$fa-font-path}poppins-bold.woff2') format('woff2'),
    url('#{$fa-font-path}poppins-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight';
    src: url('#{$fa-font-path}poppins-light-webfont.woff2') format('woff2'),
    url('#{$fa-font-path}poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$navi-blue-color : #000c60;
$blue-highlight: #D3E2EA;
$white-color: #fff;
$off-white-color: #f2f2f2;
$font-regular: 'poppinsregular';
$font-bold: 'poppinsbold';
$font-light: 'poppinslight';

*{
    font-family: $font-regular, sans-serif;
}

.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.page-background{
    background-image: url("#{$media-path}background.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    margin-left: -15px;
    a{
        background-color: transparent !important;
    }
}
.main-heading{
    color: $navi-blue-color;
    font-family: $font-bold;
    font-size: 39px;
    margin-bottom: 0;
}
.sub-heading{
    font-family: $font-bold;
    background-color: $navi-blue-color;
    padding: 7px;
    color:white;
    font-size: 19px;
}
.sub-heading-caption{
    font-family: $font-bold;
    color: $navi-blue-color;
    font-size: 25px;
}
.description{
    font-family: $font-regular;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}
.label-field{
    color: $navi-blue-color;
    font-family: $font-regular;
    margin-bottom: 0;
}
.home-search-btn{
    font-family: $font-regular;
    background-color: $navi-blue-color;
    font-size: 14px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid $navi-blue-color !important;
    height: 30px !important;
}
.select2-container .select2-selection--single{
    height: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-top: 3px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:3px !important;
}
.footer-overlay{
    background-color: #ffffff40;
    box-shadow:  0px -1px 10px #888;
    clip-path: inset(-10px 0px 0px 0px);
}
.footer a{
    color: $navi-blue-color;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.footer2{
    color: $navi-blue-color;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.content-wrap {
    min-height: 378px;
}

.search-btn {
    margin-top: 15px;
    font-family: $font-regular;
    background-color: $navi-blue-color;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
}
.search-reset-btn {
    margin-top: 15px;
    font-family: $font-regular;
    background-color: #7f818d;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
}
.wrapping-searching{
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.searching-box-heading{
    font-family: $font-light;
    background-color: $navi-blue-color;
    color: $off-white-color;
    margin: 0;
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
}
.activities-listing,.business-listing,.business-detail{
    background-color: $white-color;
    height: 335px;
    overflow-y: scroll;
}
.list-item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999999;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    &.active {
        background-color: $blue-highlight;
        color: $navi-blue-color;
        .list-icon{
            svg:not(.un-favorite-icon svg, .favorite-icon svg){
            fill: $navi-blue-color;
            color: $navi-blue-color;
            }
            &.un-favorite-icon svg{
                fill: #8c8585;
                color: #8c8585;
            }
            &.favorite-icon svg{
                fill: #e6bd37;
                color: #e6bd37;
            }
        }
    }
    .list-icon{
        padding: 0 5px 5px;
        float: left;
        svg{
            fill: #e4e4e4;
            color: #ddd;
        }
        &.favorite-icon svg{
            fill: #e6bd37;
            color: #e6bd37;
        }
    }
    .list-heading{
        font-family: $font-bold;
        color: $navi-blue-color;
    }
    .list-scop{
        font-size: 10px;
        text-align: right;
        padding: 10px;
    }
    .list-desc{
        font-family: $font-light;
        font-size: 12px;
        display: block;
        text-align: justify;
        padding-left: 12px;
    }
    .tiny-label{
        font-family: $font-light;
        font-size: 12px;
        padding-right: 5px;
    }
    .tiny-search-field{
        font-family: $font-light;
        font-size: 12px;
        height: 20px;
        border: 1px solid #999999;
        width: 140px;
    }
    .sorting a{
        font-family: $font-light;
        font-size: 12px;
        text-decoration: none;
        .triangle-down, .triangle-up{
            color: #999999;
        }
    }
}

.business-detail {
    .list-detail{
        padding-top: 10px;
        padding-bottom: 10px;

        .detail-heading{
            font-family: $font-bold;
            color: $navi-blue-color;
            font-size: 15px;
            margin-bottom: 0;
        }
        .detail-scope{
            font-family: $font-light;
            font-size: 12px;
            margin-top: -5px;
        }
        .detail-department{
            font-size: 12px;
            color: $navi-blue-color;
        }
        .detail-desc{
            display: block;
            margin-top: 15px;
            line-height: 1.4;
        }
        .custom-detail-btn {
            font-family: $font-regular;
            background-color: $navi-blue-color;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 6px;
        }
        .detail-table{
            border-bottom: 1px solid #e5e5e5;
            tr{
                background: #f8f8f8;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                th{
                    color: #333;
                    font-family: $font-regular;
                    text-transform: none;
                    font-size: 14px;
                    padding: 0.50rem;
                }
                td{
                    padding: 0.50rem;
                }
            }
        }

        .accordion.accordion-light .card {
            border: 0;
        }
        .accordion.accordion-light .card .card-header {
            background-color: transparent;
            border: 0;
        }
        .accordion .card .card-header {
            cursor: pointer;
            margin: 0;
            border-bottom: 0;
            padding: 0;
            background-color: #F3F6F9;
        }
        .accordion .card-title{
            .card-label {
                padding-top: 3px;
            }
            .svg-icon{
                float: left;
            }
        }
        .accordion {
             .card-header .card-title{
                 margin: 0;
                 font-family: $font-bold;
                 font-weight: 500;
                 color: $navi-blue-color;
            }
             .card-header .card-title.collapsed {
                color: #3F4254;
            }
            .bg-custom-color{
                margin-top: 10px;
            }
            .svg-icon svg {
                height: 1.5rem;
                width: 1.5rem;
            }

            svg {
                overflow: hidden;
                vertical-align: middle;
            }
        }
    }

}

.page-content p{
    font-size: 16px;
    color: #000;
}
.saved-permits{
    float: right;
    margin-top: 35px;
    margin-right: 30px;
    color:$navi-blue-color;
    a{
        text-decoration: none;
        color:$navi-blue-color;
    }
    &.un-favorite-icon svg{
        fill: #8c8585;
        color: #8c8585;
    }
    &.favorite-icon svg{
        fill: #e6bd37;
        color: #e6bd37;
    }
}

span.make-link{
    color: #3490dc;
    cursor: pointer;
}
