@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('../fonts/NotoNastaliqUrdu.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('../fonts/NotoNastaliqUrdu.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('../fonts/NotoNastaliqUrdu.woff') format('woff');
}

@font-face {
    font-family: 'Noto Nastaliq Urdu Draft';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/notonastaliqurdudraft/NotoNastaliqUrduDraft.eot');
    src: url('../fonts/notonastaliqurdudraft/NotoNastaliqUrduDraft.eot?#iefix') format('embedded-opentype'), url('../fonts/notonastaliqurdudraft/NotoNastaliqUrduDraft.woff2') format('woff2'), url('../fonts/notonastaliqurdudraft/NotoNastaliqUrduDraft.woff') format('woff'), url('../fonts/notonastaliqurdudraft/NotoNastaliqUrduDraft.ttf') format('truetype');
}
.urdu-label {
    font-size: 9pt;
    font-weight: 500 !important;
    font-family: 'Noto Nastaliq Urdu Draft', serif;
    /*font-family: 'NotoNastaliqUrdu', serif !important;*/
    text-align: right;
    padding: 0px 5px;
}

#kt_content {
    background-color: white !important;
}
#kt_footer{
    background-color: #30807d;
}
.aside-menu {
    background-color: #30807d;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #404040 !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon {
    color: #B5B5C3 !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
    color: white;
}
.brand {
    background-color: #30807d;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label {
    font-weight: 600;
    font-size: 1.575rem;
    color: #30807d;
}

.table-bordered {
    border: 1px solid #B4B6B9;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #B4B6B9;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-clean:focus:not(.btn-text), .btn.btn-clean.focus:not(.btn-text) {
    color: #3699FF;
    background-color: #30807d;
    border-color: transparent;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-clean:focus:not(.btn-text), .btn.btn-clean.focus:not(.btn-text) {
    color: #3699FF;
    background-color: #30807d;
    border-color: transparent;
}
.container-fluid.d-flex.align-items-stretch.justify-content-between {background-color: #4b9996;}
.card.card-custom > .card-body {
    padding: 2rem 2.25rem;
    background-color: white;
}
.card.card-custom{
    box-shadow: none;
    border: none;
}.card .card-header{
    border: none;
}

.wizard.wizard-3 .wizard-label {
    background-color: #7e9794;
    padding: 10px !important;
    border-radius: 10px;
}
.wizard.wizard-3 .wizard-label .wizard-title{
    margin: 0 !important;
    text-align: center;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: white;
}
.wizard.wizard-3 .wizard-step[data-wizard-state="current"] .wizard-label{
    background-color: #30807d;
}
.main_section_heading{
    background-color: #404040;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
}
.section_heading {
    padding: 5px 0 4px 0px;
    margin-bottom: 0px;
    color: white;
    background: white;
    border-bottom: 4px solid #30807d;
}
.section_heading span {
    text-align: center;
    background: #30807d;
    padding: 8px 20px 5px 20px;
    font-size: 14px;
    font-weight: 600;
}
.radio.radio-success > input:checked ~ span, .checkbox.checkbox-success > input:checked ~ span{
    background-color: #30807d;
}

.section_box{
    background-color: #e6fffc;
    padding: 30px;
}
.section_add_more{
    background-color: #ddfcf8;
    padding: 30px;
    box-shadow: 0px 0px 5px 0px rgba(82, 63, 105, 0.5);
}
.form-control{
    background-color: #e6fffc;
    border: 1px solid #30807d;
    color: #30807d;
    border-radius: 5px;
}
select.form-control,.form-control:focus{
    color: white;
    background-color: #30807d;
    border-color: #e6fffc;
}
.form-control[readonly]{
    background-color: #e6fffc;
    color: #30807d;
    border: none;
}
.form-control.date-picker{
    background-color: #e6fffc;
    border: 1px solid #30807d;
    color: #30807d;
}
.form-group label{
    color: #30807d;
}
.btn-custom-color{
    color: #ffffff;
    background-color: #30807d;
    border-color: #30807d;
}
.btn-custom-color:hover{
    color: #e6fffc;
}
.btn-custom-dark{
    background-color: #7e9794;
    color: #E6FFFC;
}
.btn-custom-dark:hover{
    color: #d3eae8;
}
.text-custom-color{
    color: #30807d;
}
.bg-custom-color{
    background-color: #e6fffc;
}
.d-none-imp{
    display: none !important;
}
div.dataTables_length label{
    color: #30807d !important;
}
.dataTables_wrapper .dataTable tfoot th, .dataTables_wrapper .dataTable thead th{
    color: #ffffff !important;
    background-color: #30807d;
}
.dataTables_wrapper .dataTable th.sorting_asc, .dataTables_wrapper .dataTable td.sorting_asc{
    color: #ffffff !important;
    background-color: #30807d;
}

.dataTables_wrapper .dataTable{
    background-color: #e6fffc;
}

.dataTables_wrapper{
    background-color: #e6fffc;
    padding: 20px !important;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td,div.dataTables_wrapper div.dataTables_info{
    color: #30807d;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link{
    background-color: #30807d;
    color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link:hover{
    background-color: #30807d;
    border-color: #e6fffc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    background-color: #30807d;
    color: #ffffff;
    padding: 0.50rem 3rem 0.50rem 1rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single{
    background-color: #30807d;
    border-color: #e6fffc;
}
.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--multiple .select2-selection__arrow{
    color: #ffffff;
}
.select2-container--default .select2-selection--single{
    background-color: #30807d;
    border-color: #30807d;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:after, .select2-container--default .select2-selection--multiple .select2-selection__arrow:after{
    color: #ffffff !important;
 }
select.form-control, .form-control:focus {
    color: white;
    background-color: #30807d;
    border-color: #30807d;
}
select.select2{
    opacity: 100;
}
.select2-container--default .select2-results > .select2-results__options{
    max-height:400px;
}
.radio-inline label, .checkbox {
    color: #30807d !important;
    font-weight: normal !important;
}

.form-group label {
    color: #404040;
    font-weight: 500;
}
.color-black{
    color: #3F4254;
}

.select2-container--default .select2-selection--multiple{
    background-color: #e6fffc;
}
