#kt_content {
    background-color: white !important;
}
#kt_footer{
    background-color: #30807d;
}
.aside-menu {
    background-color: #30807d;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #404040 !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon {
    color: #B5B5C3 !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
    color: white;
}
.brand {
    background-color: #30807d;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label {
    font-weight: 600;
    font-size: 1.575rem;
    color: #30807d;
}

.table-bordered {
    border: 1px solid #B4B6B9;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #B4B6B9;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-clean:focus:not(.btn-text), .btn.btn-clean.focus:not(.btn-text) {
    color: #3699FF;
    background-color: #30807d;
    border-color: transparent;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-clean:focus:not(.btn-text), .btn.btn-clean.focus:not(.btn-text) {
    color: #3699FF;
    background-color: #30807d;
    border-color: transparent;
}
.container-fluid.d-flex.align-items-stretch.justify-content-between {background-color: #4b9996;}
.card.card-custom > .card-body {
    padding: 2rem 2.25rem;
    background-color: white;
}
.card.card-custom{
    box-shadow: none;
    border: none;
}.card .card-header{
    border: none;
}

.wizard.wizard-3 .wizard-label {
    background-color: #7e9794;
    padding: 10px !important;
    border-radius: 10px;
}
.wizard.wizard-3 .wizard-label .wizard-title{
    margin: 0 !important;
    text-align: center;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: white;
}
.wizard.wizard-3 .wizard-step[data-wizard-state="current"] .wizard-label{
    background-color: #30807d;
}

.section_heading {
    padding: 5px 0 4px 0px;
    margin-bottom: 0px;
    color: white;
    background: white;
    border-bottom: 4px solid #30807d;
}
.section_heading span {
    text-align: center;
    background: #30807d;
    padding: 8px 20px 4px 20px;
    font-size: 14px;
    font-weight: 600;
}
